#root {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.game-board-chess {
  width: min-content;
  margin: 0 auto;
  border: 2px solid hsl(210, 29%, 24%);
  border-radius: 4px;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.square-button {
  padding: 0.45em 0.45em;
}
.light-square {
  color: hsl(210, 29%, 29%);
  background-color: hsl(0, 0%, 100%);
}
.dark-square {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 29%, 29%);
}
.interact-img {
  width: 49px;
  height: 49px;
  border: 2px solid hsl(210, 29%, 24%);
}
.interact-img:hover {
  background-color: hsla(193, 95%, 68%, 0.263);
  border: 2px solid hsl(210, 29%, 24%);
  border-radius: 0.75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill-button {
  background-color: hsla(193, 95%, 68%, 0.749);
  display: inline;
  margin: 1em;
}
.pill-button:hover {
  border-color: hsl(193, 95%, 85%);
}

.ai {
  display: inline;
  margin: 1em;
  padding: 0.5em;
}

@media (prefers-color-scheme: light) {
  .square-button {
    box-shadow: inset 0 0 0 24px hsl(345, 100%, 67%);
  }
  .pill-button {
    background-color: hsl(330, 71%, 80%);
  }
  .ai {
    background-color: hsl(330, 71%, 80%);
  }
}
